.filter-button {
    background: #64CCC9;
    width: 35mm;
    height: 38px;
    color: white;
}
input[type=text],.form-select
{
    border: 3px solid #ead188;
    justify-content: center;
    border-radius: 10px;
}


.flexParent {
    display: flex;
    flex-flow: row wrap;
    min-height: 500px;
    justify-content: center;
  }