.clipboard {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #FFFFFF;
    background-color: #64CCC9;
    background-size: cover;
    background-position: center center;
}

.clipboard1 {
    -webkit-clip-path: polygon(0 0, 50% 50%, 30% 100%, 0 100%);
    clip-path: polygon(0 0%, 100% 0%, 0% 100%, 0 100%);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: white;
    /* background-color: rgb(22, 22, 54); */
    background-size: cover;
    background-position: center center;
}

.clipboard-img {
    width: 700px;
    height: 605px;
    margin-left: 10px;
    top: 0px;
    background-size: cover;
    transform: rotate(15deg);
}

.clipboard1 img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 15px;
    display: block;
    /* remove extra space below image */
    transform: rotate(10deg);
}

.tree-life-ag-container {
    position: sticky;
    width: 1055.81px;
    background-color: transparent;
    height: 704.23px;
    left: 1202.28px;
    top: 10px;
    transform: rotate(10.66deg);
}


@media only screen and (max-width: 1370px) {
    .clipboard1 img {
        max-width: 80%;
        max-height: 78%;
        right: 20%;
        margin-top: 5px;
        display: block;
        /* remove extra space below image */
        transform: rotate(5deg);
    }

    .tree-life-ag-container img {
        max-width: 50%;
        max-height: 50%;
        right: 20%;
        margin-top: 5px;
        transform: rotate(15.66deg);
    }

    .tree-life-ag-container {

        width: 1055.81px;
        background-color: transparent;
        height: 704.23px;
        left: 160px;
        top: -100px;
        transform: rotate(-30.66deg);
    }
}


.achild {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 20%);
    position: fixed;
    top: -50px;
    height: 300px;
    left: 1680px;
    right: 0px;
    bottom: 0px;
    color: #FFFFFF;
    background: url('../assets/TreeLife-Ag.png');
    background-size: cover;

}



span {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

span:before {
    content: "";
    display: block;
    width: 70%;
    height: 70%;
    background-image: url(../assets/TreeLife-Ag.png);
    transform: rotate(-45deg);
    transform-origin: 0 0;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 0 0;
}


/* @media all and (orientation:landscape) {
    /* Styles for Landscape screen */
/* } */

/* @media all and (orientation:portrait) {
    body {
        display: none */
    /* }
} */ 