.box 
{
    background: rgb(105, 90, 90);
    position: absolute;
    width: 100%;
    height: 500px;
    left: auto;
    padding-left: 30px;
    top: 100px;
    z-index: 3;
    border: 1px solid #BCABAB;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    flex-flow: row wrap;
}

.box2 
{
    background: transparent;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 20px;
    display: flex;

}

.box3 
{
    box-sizing: border-box;
    width: 100%;
    height: 398px;
    left: 35px;
    top: 20px;
    background: transparent;
    border: 1px solid #BCABAB;
    border-radius: 20px;
}

.box4 
{
    box-sizing: border-box;
    position: absolute;
    width: 28%;
    height: 398px;
    margin-right: 0px;
    right: 0;
    top: 50px;
    margin-right: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
}

.box4 input 
{
    text-align: center;
    box-sizing: border-box;
    width: 90%;
    margin-top: 10px;
    margin-left: 16px;

    height: 63px;
    border: 1px solid #BCABAB;
    border-radius: 10px;

}

button 
{
    bottom: 0;
}