.product-card {

    max-width: 350px;
    width: auto;
    min-height: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 3px solid #ead188;
    border-radius: 35px;
    text-align-last: 10px left 10;
    background: #FFFFFF;

}

.product-card .product-name {
    margin-top: 1px;
    word-wrap: break-word;
    margin-left: 35px;
}