body{
    background-color: #64CCC9;
   
}


.clipboard {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: square(100% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: fixed;
    height: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #FFFFFF;
    background-attachment: fixed;
    background-color:white;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.clipboard1 {

    position: fixed;
    height: 50%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color:white;

    background-size: cover;
    background-position: center center;
    z-index: 2;
}

.container-box {
    z-index: 3;
    position: relative;
    justify-content: center;
    width: auto;
    bottom: 0;
    min-height: 600px;
    
}
.clipboard-img {
    width: 800px;
    height: 605px;
    background-color: #126d67;
    margin-left: 10px;
    top: 0px;
    background-size: cover;
    transform: rotate(25deg);
}

.clipboard1 img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 15px;
    margin: auto;
    display: block;
  
    transform: rotate(15deg);
}